<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/sidebar.css">
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    <title>SIDEBAR</title>
</head>

<body>
    <aside class="sidebar">
        <div class="sidebar-header">
            <img class="sidebar-logo" src="../assets/img/logo.webp" alt="GestorFPQRS">
            <span class="sidebar-brand">GestorFPQRS</span>
        </div>
        <hr class="sidebar-divider">
        <nav class="sidebar-section">
            <p class="sidebar-title-menu">OPERACIÓN</p>
            <ul class="sidebar-menu">
                <li><a class="sidebar-link" data-page="bandeja" href="#"><i data-lucide="FolderOpen"
                            width="20"></i>Bandeja de Casos</a></li>
                <li><a class="sidebar-link" data-page="detalle" href="#"><i data-lucide="FileText"
                            width="20"></i>Detalle de Caso</a></li>
                <li><a class="sidebar-link" data-page="formulario" href="#"><i data-lucide="ListChecks"
                            width="20"></i>Registrar FPQRS</a></li>
                <li><a class="sidebar-link" data-page="crear-caso" href="#"><i data-lucide="SquarePlus"
                            width="20"></i>Crear Caso (Operador)</a></li>
                <li class="sidebar-extra"><a class="sidebar-link" data-page="" href="#"><i
                            data-lucide="ChartNoAxesColumn" width="20"></i>Métricas</a></li>
                <li class="sidebar-extra"><a class="sidebar-link" data-page="" href="#"><i data-lucide="TrendingUp"
                            width="20"></i>Analítica</a></li>
                <li class="sidebar-extra"><a class="sidebar-link" data-page="" href="#"><i data-lucide="Download"
                            width="20"></i>Exportar Caso</a></li>
            </ul>
            <p class="sidebar-title-menu sidebar-extra">ADMINISTRACIÓN</p>
            <ul class="sidebar-menu">
                <li class="sidebar-extra"><a class="sidebar-link" data-page="" href=""><i data-lucide="ShieldCheck"
                            width="20"></i>Auditoría</a></li>
                <li class="sidebar-extra"><a class="sidebar-link" data-page="" href=""><i data-lucide="Settings"
                            width="20"></i>Parametrización</a></li>
                <li class="sidebar-extra"><a class="sidebar-link" data-page="" href=""><i data-lucide="FlaskConical"
                            width="20"></i>Parámentros Alt.</a></li>
                <li class="sidebar-extra"><a class="sidebar-link" href=""><i data-lucide="BookOpen"
                            width="20"></i>Modelo Cat.Resp.</a></li>
            </ul>
        </nav>
        <hr class="sidebar-divider">
        <div class="sidebar-footer">
            <a class="sidebar-link" href="#"><i width="18" data-lucide="Bell"></i>Notificaciones</a>

            <div class="sidebar-avatar">
                <i class="user" color={var(--secondary-color)} data-lucide="user"></i>
                <div>
                    <p class="sidebar-avatar-name">Sofía Martínez</p>
                    <p class="sidebar-title-avatar">Administrador</p>
                </div>
            </div>
            <a class="sidebar-link log-out" href=""><i width="16" data-lucide="LogOut"></i>Cerrar sesión</a>
        </div>

    </aside>
    <script>lucide.createIcons();</script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>