.header {
  background-color: var(--primary-color);
  display: flex;
}

.header-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.form-logo {
  width: 32px;
  height: auto;
}

.title-body {
  font-weight: normal;
  font-size: x-large;
}

.alert-info {
  background-color: var(--accent-info);
  color: var(--color-info);
}

.alert-info-text{
    font-size: .75rem;
    line-height: 1rem;
    margin: 0;
}

.body-info{
    width: 100%;
}

.icon-form{
    color: var(--primary-color);
    width: 17px;
}

.inp-form{
    background-color: var(--background-color);
}

.auth-text{
    display:flex;
    align-items:flex-start;
    gap:12px;
    padding:16px;
    border:1px solid #d1d5db;
    border-radius:16px;
}

.auth-text input{
    width:17px;
    height:17px;
    margin-top:3px;
    flex-shrink:0;
    border: 1px solid var(--text-mute);
}

.auth-text .form-check-label{
    font-size: 0.9rem;
}

.auth-text .form-check-label a{
    color: var(--primary-color);
    text-decoration: none;
}

.auth-text .form-check-label a:hover{
    text-decoration: underline;
}