.login {
  overflow: hidden;
  margin: 0;
}
.sidebar-login {
  padding: 2.5rem;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
      flex:0 0 31.5%;
}

.sidebar-login-header {
  margin-bottom: 4rem;
}

.sidebar-logo {
  height: 3rem;
  width: auto;
}

.sidebar-brand {
  color: var(--secondary-color);
  letter-spacing: -0.025em;
  font-size: 1.25rem;
  padding-left: 0.6rem;
}
.sidebar-middle-info {
  flex: 1;
}
.login-sidebar-title {
  color: var(--secondary-color);
  font-weight: bold;
}

.sidebar-text-header {
  color: #ffffffb3;
  line-height: 1.625;
  font-size: 1rem;
}

.sidebar-login-list {
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sidebar-icon-list {
  background-color: var(--hover-color);
  border-radius: 30%;
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
}

.sidebar-subtitle {
  font-size: 0.73rem;
  color: #ffffff8c;
}

.sidebar-footer {
  color: #ffffff4d;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.sidebar-footer-copytext {
  font-size: 0.75rem;
  margin: 0;
}

.sidebar-footer-brand {
  font-size: 10px;
}
