#sidebar {
  width: 15rem;
  min-width: 15rem;
  flex-shrink: 0;
}

.sidebar {
  background-color: var(--primary-color);
  width: 15rem;
  min-width: 15rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: fixed;
}

.sidebar-header {
  height: 5rem;
  padding-inline: 20px;
  padding-block: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  overflow: hidden;
}
.sidebar-logo {
  height: 2.5rem;
  width: auto;
}

.sidebar-brand {
  flex: 1;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: medium;
}

.sidebar-divider {
  color: var(--border-color);
}

.sidebar-section {
  flex: 1;
  padding-inline: 1rem;
  overflow: hidden;
}
.sidebar-title-menu {
  color: var(--text-light);
  font-size: 0.65rem;
}

.sidebar-menu {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: .6rem;
}

.sidebar-link {
  display: flex;
  gap: 0.9em;
  color: var(--text-secondary);
  text-decoration: none;
  font-weight: 500;
}
.sidebar-link.active {
  background-color: var(--accent-color);
  color: var(--text-light);
  border-radius: 6px;
  margin: 0 8px;
  padding: 9px 10px;
}

.sidebar-link-disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

.sidebar-link:hover {
  color: var(--secondary-color);
}

.sidebar-footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .8rem;
}
.user {
  padding: 0.3rem;
  width: 1.7rem;
  height: auto;
  background-color: #4B617F;
  border-radius: 50%;
  color: var(--secondary-color);
}
.sidebar-avatar {
  display: flex;
  gap: 0.7em;
  align-items: center;
}
.sidebar-avatar-name {
  color: var(--secondary-color);
  font-size: smaller;
  margin: 0;
}

.sidebar-title-avatar {
  color: var(--text-light);
  font-size: 0.7rem;
  margin: 0;
}

.log-out {
  font-size: smaller;
}

@media (max-width: 767px) {
  .sidebar-extra {
    display: none;
  }
}